# data structures in python
1. data structures is collection of data in different formates
2. 5 types of data structures in python
  1. string-string is colletion of data in a single quotes or double quotes ('' or "")
  2. lists-list is collection of elements enclosed by []
  3. tuples-tuples is collection of elements enclosed by ()
  4. dictionaries-it is a collection of items enclosed by {}
  5. sets-collection of elements enclosed by {}

In [1]:
# string
info = "welcome to python programme"
data = "welcome to tia"
print(info)
print(data)
print(type(info))
print(type(data))

welcome to python programme
welcome to tia
<class 'str'>
<class 'str'>

In [5]:
# lists
names = ["nakshatra","priya","jetavya"]
ages = [16,16,16]
salary = [10,20,30]
print(names)
print(ages)
print(salary)
print(type(names))
print(type(ages))
print(type(salary))

['nakshatra', 'priya', 'jetavya']
[16, 16, 16]
[10, 20, 30]
<class 'list'>
<class 'list'>
<class 'list'>

In [6]:
# tuples
names = ("nakshatra","priya","jetavya")
ages = (16,16,16)
salary = (10,20,30)
print(names)
print(ages)
print(salary)
print(type(names))
print(type(ages))
print(type(salary))

('nakshatra', 'priya', 'jetavya')
(16, 16, 16)
(10, 20, 30)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [9]:
# dictionaries
info = {"name":"nakshatra","age":16,"salary":0,"address":"hyderabad"}
print(info)
print(type(info))

{'name': 'nakshatra', 'age': 16, 'salary': 0, 'address': 'hyderabad'}
<class 'dict'>

In [10]:
# sets
data = {10,20,30,25,21}
info = {10,20,30,15,10,40,20,30}
print(data)
print(info)
print(type(data))
print(type(info))

{20, 21, 25, 10, 30}
{20, 40, 10, 30, 15}
<class 'set'>
<class 'set'>

In [13]:
#acccessing characters from string
#two ways 1.forward index 2.backward index(negetive index)
#forward index - left to right (0,1,2,...n-1)
#backward index - right to left (-1,-2,-3,...-n)
info="welcome to tia"
print(info)
print(info[0])
print(info[11])
print(info[-3])

welcome to tia
w
t
t